n8n-google-contacts-sync.json
{
  "name": "Synchronisation Google Contacts → Baserow (natif)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sync-google-contacts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gc2-node-01",
      "name": "Webhook Déclencheur",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "sync-google-contacts"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://people.googleapis.com/v1/people/me/connections",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "personFields", "value": "names,emailAddresses,phoneNumbers,organizations" },
            { "name": "pageSize",     "value": "1000" }
          ]
        },
        "options": {}
      },
      "id": "gc2-node-02",
      "name": "Google People API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [420, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "REMPLACER_PAR_ID_CREDENTIAL",
          "name": "Google OAuth2 (People API)"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "connections",
        "options": {}
      },
      "id": "gc2-node-03",
      "name": "Extraire Connexions",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "set-prenom",
              "name": "prénom",
              "value": "={{ $json.names?.[0]?.givenName ?? '' }}",
              "type": "string"
            },
            {
              "id": "set-nom",
              "name": "nom",
              "value": "={{ $json.names?.[0]?.familyName ?? '' }}",
              "type": "string"
            },
            {
              "id": "set-email",
              "name": "email",
              "value": "={{ ($json.emailAddresses?.[0]?.value ?? '').trim() }}",
              "type": "string"
            },
            {
              "id": "set-tel",
              "name": "téléphone",
              "value": "={{ $json.phoneNumbers?.[0]?.value ?? '' }}",
              "type": "string"
            },
            {
              "id": "set-co",
              "name": "entreprise",
              "value": "={{ $json.organizations?.[0]?.name ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "gc2-node-04",
      "name": "Mapper Contact",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "filter-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gc2-node-05",
      "name": "Filtrer Sans Email",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "gc2-node-06",
      "name": "Traiter par lot",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://baserow.ananda-communaute.cloud/api/database/rows/table/544/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Token GBLdzaCZvQUVXkCqSls3WX3dT3uVg0H8" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "user_field_names",      "value": "true" },
            { "name": "filter__Email__equal",  "value": "={{ $json.email }}" }
          ]
        },
        "options": {}
      },
      "id": "gc2-node-07",
      "name": "Rechercher dans Baserow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1520, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-exists",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gc2-node-08",
      "name": "Existe déjà ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1740, 160]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://baserow.ananda-communaute.cloud/api/database/rows/table/544/' + $('Rechercher dans Baserow').item.json.results[0].id + '/?user_field_names=true' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Token GBLdzaCZvQUVXkCqSls3WX3dT3uVg0H8" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "Prénom",     "value": "={{ $('Mapper Contact').item.json.prénom }}" },
            { "name": "Nom",        "value": "={{ $('Mapper Contact').item.json.nom }}" },
            { "name": "Téléphone",  "value": "={{ $('Mapper Contact').item.json.téléphone }}" },
            { "name": "Entreprise", "value": "={{ $('Mapper Contact').item.json.entreprise }}" }
          ]
        },
        "options": {}
      },
      "id": "gc2-node-09",
      "name": "Mettre à jour contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1960, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baserow.ananda-communaute.cloud/api/database/rows/table/544/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Token GBLdzaCZvQUVXkCqSls3WX3dT3uVg0H8" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "Prénom",     "value": "={{ $('Mapper Contact').item.json.prénom }}" },
            { "name": "Nom",        "value": "={{ $('Mapper Contact').item.json.nom }}" },
            { "name": "Email",      "value": "={{ $('Mapper Contact').item.json.email }}" },
            { "name": "Téléphone",  "value": "={{ $('Mapper Contact').item.json.téléphone }}" },
            { "name": "Entreprise", "value": "={{ $('Mapper Contact').item.json.entreprise }}" },
            { "name": "Catégorie",  "value": "Admin" }
          ]
        },
        "options": {}
      },
      "id": "gc2-node-10",
      "name": "Créer contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1960, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Synchronisation terminée' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "gc2-node-11",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 460]
    }
  ],
  "connections": {
    "Webhook Déclencheur": {
      "main": [[{ "node": "Google People API",   "type": "main", "index": 0 }]]
    },
    "Google People API": {
      "main": [[{ "node": "Extraire Connexions",  "type": "main", "index": 0 }]]
    },
    "Extraire Connexions": {
      "main": [[{ "node": "Mapper Contact",       "type": "main", "index": 0 }]]
    },
    "Mapper Contact": {
      "main": [[{ "node": "Filtrer Sans Email",   "type": "main", "index": 0 }]]
    },
    "Filtrer Sans Email": {
      "main": [[{ "node": "Traiter par lot",      "type": "main", "index": 0 }]]
    },
    "Traiter par lot": {
      "main": [
        [{ "node": "Rechercher dans Baserow",     "type": "main", "index": 0 }],
        [{ "node": "Réponse",                     "type": "main", "index": 0 }]
      ]
    },
    "Rechercher dans Baserow": {
      "main": [[{ "node": "Existe déjà ?",        "type": "main", "index": 0 }]]
    },
    "Existe déjà ?": {
      "main": [
        [{ "node": "Mettre à jour contact",       "type": "main", "index": 0 }],
        [{ "node": "Créer contact",               "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "notes": "CONFIGURATION REQUISE — nœud 'Google People API' :\n1. Créer un credential n8n → OAuth2 API → nommer 'Google OAuth2 (People API)'\n   - Authorization URL : https://accounts.google.com/o/oauth2/auth\n   - Token URL        : https://oauth2.googleapis.com/token\n   - Scope            : https://www.googleapis.com/auth/contacts.readonly\n   - Client ID/Secret : Google Cloud Console (API People activée)\n2. Assigner ce credential au nœud 'Google People API'\n3. Activer le workflow\n4. URL : https://n8n.ananda-communaute.cloud/webhook/sync-google-contacts"
  }
}
