n8n-google-contacts-sync.json
{
  "name": "Sync Google Contacts → Baserow (100% natif)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sync-google-contacts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "s01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "sync-google-contacts"
    },

    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "s02",
      "name": "Google Contacts",
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [420, 300],
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "REMPLACER_GOOGLE_CRED_ID",
          "name": "Google Contacts"
        }
      }
    },

    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "prenom",
              "value": "={{ $json.firstName ?? $json.givenName ?? $json.names?.[0]?.givenName ?? '' }}",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "nom",
              "value": "={{ $json.lastName ?? $json.familyName ?? $json.names?.[0]?.familyName ?? '' }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "email",
              "value": "={{ $json.email ?? $json.emailAddresses?.[0]?.value ?? '' }}",
              "type": "string"
            },
            {
              "id": "m4",
              "name": "telephone",
              "value": "={{ $json.phone ?? $json.phoneNumber ?? $json.phoneNumbers?.[0]?.value ?? '' }}",
              "type": "string"
            },
            {
              "id": "m5",
              "name": "entreprise",
              "value": "={{ $json.company ?? $json.organization ?? $json.organizations?.[0]?.name ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "s03",
      "name": "Normaliser Champs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 300]
    },

    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "s04",
      "name": "A un email ?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [860, 300]
    },

    {
      "parameters": {
        "operation": "create",
        "tableId": 544,
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "Prénom",     "fieldValue": "={{ $json.prenom }}" },
            { "fieldName": "Nom",        "fieldValue": "={{ $json.nom }}" },
            { "fieldName": "Email",      "fieldValue": "={{ $json.email }}" },
            { "fieldName": "Téléphone",  "fieldValue": "={{ $json.telephone }}" },
            { "fieldName": "Entreprise", "fieldValue": "={{ $json.entreprise }}" },
            { "fieldName": "Catégorie",  "fieldValue": "Admin" }
          ]
        }
      },
      "id": "s05",
      "name": "Baserow Créer",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [1080, 300],
      "credentials": {
        "baserowApi": {
          "id": "REMPLACER_BASEROW_CRED_ID",
          "name": "Baserow"
        }
      }
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, synced: $input.all().length }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "s06",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],

  "connections": {
    "Webhook":           { "main": [[{ "node": "Google Contacts",    "type": "main", "index": 0 }]] },
    "Google Contacts":   { "main": [[{ "node": "Normaliser Champs",  "type": "main", "index": 0 }]] },
    "Normaliser Champs": { "main": [[{ "node": "A un email ?",       "type": "main", "index": 0 }]] },
    "A un email ?":      { "main": [[{ "node": "Baserow Créer",      "type": "main", "index": 0 }]] },
    "Baserow Créer":     { "main": [[{ "node": "Réponse",            "type": "main", "index": 0 }]] }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
